@{
    ViewBag.Title = "Home Page";
}

<!-- bjsupo eb qbjybp -->

<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" /> 

<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<div class="woods">
    <div class="jumbotron">
        Bob Ambrose
    </div>
</div>
