@{
    ViewBag.Title = "Home Page";
}

<!-- bjsupo eb qbjybp -->



<html>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
    
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    
    
    
    <body>
        trynna
    </body>
</html>