@{
    ViewBag.Title = "Home Page";
}

<!-- bjsupo eb qbjybp -->

<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" /> 

<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<div class="woods">
    @for(int i = 0; i < 100; i++){
            <p>hey man</p>
    }
</div>
